<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title : 'DFT - Del Fuego Techno'}) %> 
<body>

    <%- include('./partials/header') %> 
    
    <main class="main-home">

        <!-- CARRUSEL PRINCIPAL -->
        <div class="ss-home-ppal">
            <img class="ss-home-ppal__img" src="/img/destacado-alienware-streamsetup.webp" alt="Carrusel imagen 1">
        </div>

        <!-- BOTONES NAVEGACIÓN MAIN HOME -->
        
        <section class="main-home__sect-cont">

        
            <nav class="nav-cont">
                <div class="nav-cont__buttons">
                    <button aria-label= "notebooks" class="buttons__round">
                        <a href="/products/category/notebooks"><i class="fas fa-laptop"></i></a>
                    </button>
                    <button aria-label= "notebooks" class="buttons__links">
                        <a href="/products/category/notebooks">NOTEBOOKS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button aria-label= "perifericos" class="buttons__round">
                        <a href="/products/category/perifericos"AS><i class="fas fa-keyboard"></i></a>
                    </button>
                    <button aria-label= "perifericos" class="buttons__links">
                        <a href="/products/category/perifericos"AS>PERIFÉRICOS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button aria-label= "accesorios" class="buttons__round">
                        <a href="/products/category/accesorios"><i class="fas fa-headset"></i></a>
                    </button>
                    <button aria-label= "accesorios" class="buttons__links">
                        <a href="/products/category/accesorios">ACCESORIOS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button aria-label= "consolas" class="buttons__round">
                        <a href="/products/category/consolas"><i class="fas fa-gamepad"></i></a>
                    </button>
                    <button aria-label= "consolas" class="buttons__links">
                        <a href="/products/category/consolas">CONSOLAS</a>
                    </button>
                </div>

                <div class="nav-cont__buttons">
                    <button aria-label= "componentes" class="buttons__round">
                        <a href="/products/category/componentes"><i class="fas fa-microchip"></i></a>
                    </button>
                    <button aria-label= "componentes" class="buttons__links">
                        <a href="/products/category/componentes">COMPONENTES</a>
                    </button>
                </div>
            </nav>
            
        </section>


        <!-- CARRUSEL DESTACADOS 1 -->
        <section class="main-home__cont-prod">
            <h2 class="cont-prod__categorias">Productos destacados</h2>
            <nav class="cont-prod__articulos">

                <% productsDB.forEach((product, index) => { %>

                    <% if (index < 4) { %>

                        <%- include('./components/carruselProduct', {product : product}) %>

                    <% } %>

                <% }) %> 

            </nav>
        </section>


        <!-- IMAGEN PRODUCTO DESTACADO -->

        <div class="home-dest-central">
            <img class="home-dest-central__img" src="/img/destacado_coolermaster.webp" alt="Imagen producto destacado">
        </div>



        <!-- CARRUSEL DESTACADOS 2 -->

        <section class="main-home__cont-prod">

            <h2 class="cont-prod__categorias">Notebooks</h2>
            <nav class="cont-prod__articulos"> 

                <% productsDB.forEach((product, index) => { %>

                    <% if (index < 4) { %>

                        <%- include('./components/carruselProduct', {product : product}) %>

                    <% } %>

                <% }) %> 

            </nav>

        </section>

        <!-- Banner marcas -->
        <section class="main-home__banner-marcas">
            <h4 class="banner-marcas__titulo">TRABAJAMOS CON LAS MEJORES MARCAS</h4>
            <div class="banner-marcas__logos">
                <div class="logos__link"><img src="/img/logitech-logo.webp" alt="Logitech" class="link__img"></div>
                <div class="logos__link"><img src="/img/hp-logo.webp" alt="HP" class="link__img"></div>
                <div class="logos__link"><img src="/img/amd-logo.webp" alt="AMD" class="link__img"></div>
                <div class="logos__link"><img src="/img/msi-logo.webp" alt="MSI" class="link__img"></div>
                <div class="logos__link"><img src="/img/asus-logo.webp" alt="ASUS" class="link__img"></div>
                <div class="logos__link"><img src="/img/evga-logo.webp" alt="EVGA" class="link__img"></div>
                <div class="logos__link"><img src="/img/intel-logo.webp" alt="INTEL" class="link__img"></div>
                <div class="logos__link"><img src="/img/razer-logo.webp" alt="Razer" class="link__img"></div>
                <div class="logos__link"><img src="/img/nvidia-logo.webp" alt="N-vidia" class="link__img"></div>
                <div class="logos__link"><img src="/img/corsair-logo.webp" alt="Corsair" class="link__img"></div>
                <div class="logos__link"><img src="/img/gigabyte-logo.webp" alt="Gigabyte" class="link__img"></div>
            </div>
        </section>


    </main>
    
    <%- include('./partials/footer') %> 

</body>
</html>