<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title : 'DFT - Del Fuego Techno'}) %> 
<body>

    <%- include('./partials/header') %> 
    
    <main class="main-home">

        <!-- CARRUSEL PRINCIPAL -->
        <div class="ss-home-ppal">
            <img class="ss-home-ppal__img" src="/img/destacado-alienware-streamsetup.webp" alt="Carrusel imagen 1">
        </div>

        <!-- BOTONES NAVEGACIÓN MAIN HOME -->
        
        <section class="main-home__sect-cont">        
            <nav class="nav-cont">
                <hr class="vertical-div">
                <div class="nav-cont__buttons">
                    <button aria-label= "notebooks" class="buttons__round">
                        <a href="/products/category/1"><i class="fas fa-laptop"></i></a>
                    </button>
                    <button aria-label= "notebooks" class="buttons__links">
                        <a href="/products/category/1">NOTEBOOKS</a>
                    </button>
                </div>
                <hr class="vertical-div">
                <div class="nav-cont__buttons">
                    <button aria-label= "perifericos" class="buttons__round">
                        <a href="/products/category/1"><i class="fas fa-keyboard"></i></a>
                    </button>
                    <button aria-label= "perifericos" class="buttons__links">
                        <a href="/products/category/1">PERIFÉRICOS</a>
                    </button>
                </div>
                <hr class="vertical-div">
                <div class="nav-cont__buttons">
                    <button aria-label= "accesorios" class="buttons__round">
                        <a href="/products/category/3"><i class="fas fa-headset"></i></a>
                    </button>
                    <button aria-label= "accesorios" class="buttons__links">
                        <a href="/products/category/3">ACCESORIOS</a>
                    </button>
                </div>
                <hr class="vertical-div">
                <div class="nav-cont__buttons">
                    <button aria-label= "consolas" class="buttons__round">
                        <a href="/products/category/7"><i class="fas fa-gamepad"></i></a>
                    </button>
                    <button aria-label= "consolas" class="buttons__links">
                        <a href="/products/category/7">CONSOLAS</a>
                    </button>
                </div>
                <hr class="vertical-div">
                <div class="nav-cont__buttons">
                    <button aria-label= "componentes" class="buttons__round">
                        <a href="/products/category/7"><i class="fas fa-microchip"></i></a>
                    </button>
                    <button aria-label= "componentes" class="buttons__links">
                        <a href="/products/category/7">COMPONENTES</a>
                    </button>
                </div>
                <hr class="vertical-div">
            </nav>
        </section>


        <!-- CONTACTO -->

        <section class="index__contact-us">
            <div class="contact-us cont-online">
                <div class="contact-us__img">
                    <img src="/img/robot.webp" alt="Robot">
                </div>
                <div class="contact-us__info">
                    <h2 class="contact-us__title title-online">¿Necesitás asesoramiento?</h2>
                    <p class="contact-us__text">Escribinos y te ayudamos a elegir los componentes que mejor se adapten a tus necesidades!</p>
                    <a href="/contacto" class="contact-us__link">¡Contactanos!</a>
                </div>
            </div>


            <div class="contact-us cont-store">
                <div class="contact-us__info">
                    <h2 class="contact-us__title title-store">Visitá nuestro local</h2>
                    <p class="contact-us__text text-store">Av. Saraza 21845 - CABA</p>
                    <p class="contact-us__text text-store">Luneas a Viernes de 10 a 20hs</p>
                    <p class="contact-us__text text-store">Sábados de 10 a 15hs</p>
                </div>
                <div class="store__img">
                    <img src="/img/edificios.webp" alt="Edificios">
                </div>
            </div>
        </section>


        <!-- BANNER -->

        <div class="home-dest-central">
            <img class="home-dest-central__img" src="/img/destacado-razer-streamsetup.webp" alt="Imagen producto destacado">
        </div>

        <div class="featured-mobile">
            <img class="featured-mobile__img" src="/img/razer-360-02.webp" alt="Imagen producto destacado">
        </div>

        <div class="index__banner-ad">
            <a href="/products/category/7">
                <img src="/img/banner-consolas.webp" alt="Publicidad consolas">
                <p>ENCONTRÁ TU CONSOLA AL MEJOR PRECIO</p>
            </a>
        </div>

        <!-- CARRUSEL DESTACADOS 1 -->
        <section class="main-home__cont-prod">
            <h2 class="cont-prod__categorias">Productos destacados</h2>
            <nav class="cont-prod__articulos">

                <% productsDB.forEach((product, index) => { %>

                    <% if (index < 4) { %>

                        <%- include('./components/carruselProduct', {product : product}) %>

                    <% } %>

                <% }) %> 

            </nav>
        </section>


        <!-- IMAGEN PRODUCTO DESTACADO -->

        <div class="featured-product">
            <div class="featured__image-cont">
                <img src="/img/rog-featured-index.webp" alt="ASUS ROG ZEPHYRUS s17">
            </div>
            <div class="featured__info-cont">
                <h2 class="featured__title">ASUS ROG ZEPHYRUS S17</h2>
                <hr class="feat-div">
                <h3 class="featured__subt">EL PORTÁTIL DE GAMING DE 17" MÁS FINO QUE EXISTE</h3>
                <hr class="feat-div">
                <p class="featured__text">Tradicionalmente, escoger un portátil de 17" - 43,18 cm significaba cargar con un equipo grande y pesado. Sin embargo, gracias a la implementación de un marco fino y a la experiencia que ASUS atesora en materia de diseño, el ROG Zephyrus S presenta unas dimensiones típicas de un equipo de 15" - 38,1 cm. Su elegante chasis en aleación de magnesio cabe en fundas de tamaño estándar y es capaz de resistir las eventualidades del día a día.</p>
                <a href="/rog-s17" class="featured__link">más información >></a>
            </div>
            
        </div>

        <!-- CARRUSEL DESTACADOS 2 -->

        <section class="main-home__cont-prod">

            <h2 class="cont-prod__categorias">Notebooks</h2>
            <nav class="cont-prod__articulos"> 

                <% productsDB.forEach((product, index) => { %>

                    <% if (index < 4) { %>

                        <%- include('./components/carruselProduct', {product : product}) %>

                    <% } %>

                <% }) %> 

            </nav>

        </section>

        <!-- Banner marcas -->
        <section class="main-home__banner-marcas">
            <h4 class="banner-marcas__titulo">TRABAJAMOS CON LAS MEJORES MARCAS</h4>
            <div class="banner-marcas__logos">
                <div class="logos__link"><img src="/img/logitech-logo.webp" alt="Logitech" class="link__img"></div>
                <div class="logos__link"><img src="/img/hp-logo.webp" alt="HP" class="link__img"></div>
                <div class="logos__link"><img src="/img/amd-logo.webp" alt="AMD" class="link__img"></div>
                <div class="logos__link"><img src="/img/msi-logo.webp" alt="MSI" class="link__img"></div>
                <div class="logos__link"><img src="/img/asus-logo.webp" alt="ASUS" class="link__img"></div>
                <div class="logos__link"><img src="/img/evga-logo.webp" alt="EVGA" class="link__img"></div>
                <div class="logos__link"><img src="/img/intel-logo.webp" alt="INTEL" class="link__img"></div>
                <div class="logos__link"><img src="/img/razer-logo.webp" alt="Razer" class="link__img"></div>
                <div class="logos__link"><img src="/img/nvidia-logo.webp" alt="N-vidia" class="link__img"></div>
                <div class="logos__link"><img src="/img/corsair-logo.webp" alt="Corsair" class="link__img"></div>
                <div class="logos__link"><img src="/img/gigabyte-logo.webp" alt="Gigabyte" class="link__img"></div>
            </div>
        </section>


    </main>
    
    <%- include('./partials/footer') %> 

</body>
</html>