<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head') %> 
<body>

    <%- include('./partials/header') %> 

    <main class="main-general">
        <!-- carrito -->
        <!-- Seccion superior del carrito -->

        <div class="cont-top-section">
            <div class="leftArticle-breadCrum">                    
                <a class="breadCrum" href="/">Volver</a>                 
            </div>

        <section class="top-section">
            <!-- Contenedor de productos para la compra -->
            <article class="leftArticle">           
                
                <h2 class="carrito-title"><i class="fa-solid fa-cart-shopping"></i>  Mi carrito</h2>

                <div class="caja">

                    <% productsDB.forEach((product, index) => { %>
                        
                        <% if (index < 3) { %>
                            
                            <%- include('./components/cartAddedProduct', {product : product}) %>
                            
                            <% } %>
                            
                            <% }) %> 
                            
                </div>
                <div class="leftArticle-btns">

                    <button aria-label="vaciar carrito" type="reset" class="leftArticle-btn">Vaciar Carrito</button>

                    <a class="seguirComprando" href="/">Seguir Comprando</a>

                </div>


            </article>

            
            <!-- contenedor de resumen de la compra -->
            
            
            <%- include('./components/buyDetail', {productsDB : productsDB}) %>

                </div>

            </article> 
        </section>            
        </div>
            

        <!-- Seccion inferior del carrito -->
        <section class="main-home__cont-prod">
            <h2 class="cont-prod__categorias">Otros usuarios también compraron</h2>
            <div class="cont-prod__articulos"> 
                <% productsDB.forEach((product, index) => { %>

                    <% if (index < 4) { %>

                        <%- include('./components/carruselProduct', {product : product}) %>

                    <% } %>

                <% }) %> 
            </div>
        </section>

    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>