<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title : 'DFT - Registrate'}) %> 
<body>

    <%- include('../partials/header') %> 
        

    <main class="main-general">

        <section class="cont-form-rg">

            <form class="form-registro" action="/users/edit/<%= userProfile.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            
                <h2 class="titulo-login">Editando usuario <%= userProfile.firstName %></h2>

                <article class="cont-rg">

                    
                    <div class="registro__cont">

                        <label for="firstName">
                            <p class="lg__descrip">Nombre*</p>  
                            <% if (locals.errors && errors.firstName) {%> 
                                <p class="errorMsg"><%= errors.firstName.msg %></p>
                            <%}  %>                       
                            <input class="form__fields" type="text" id="firstName" name="firstName" value="<%= userProfile.firstName %>" >
                            <span class="feedback"></span>
                        </label>
                    
                        <label for="lastName">
                            <p class="lg__descrip">Apellido*</p>
                            <% if (locals.errors && errors.lastName) {%> 
                                <p class="errorMsg"><%= errors.lastName.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="text" id="lastName" name="lastName" value="<%= userProfile.lastName %>" >
                            <span class="feedback"></span>
                        </label>

                        <label for="birth">
                            <p class="lg__descrip">Fecha de nacimiento*</p>
                            <% if (locals.errors && errors.birth) {%> 
                                <p class="errorMsg"><%= errors.birth.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="date" id="birth" name="birth" >
                            <span class="feedback"></span>
                        </label>
                        
                        <label for="image">
                            <p class="lg__descrip">Foto de perfil</p>
                            <input class="form__fields" type="file" name="image" id="image" accept=".jpg, .png, .webp">
                            <span class="feedback"></span>
                        </label>
                        
                        <label for="phone">
                            <p class="lg__descrip">Teléfono*</p>
                            <% if (locals.errors && errors.phone) {%> 
                                <p class="errorMsg"><%= errors.phone.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="phone" name="phone" id="phone" value="<%= userProfile.phone %>" >
                            <span class="feedback"></span>
                        </label>

                    </div>
                    
                    <h3 class="rg__subtitulo">Dirección</h3>
                    <div class="registro__cont">
                        <label for="address">
                            <p class="lg__descrip">Calle y altura*</p>
                            <% if (locals.errors && errors.address) {%> 
                                <p class="errorMsg"><%= errors.address.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="text" id="address" name="address" value="<%= userProfile.address %>" >
                            <span class="feedback"></span>
                        </label>
                    </div>
                    <div class="registro__cont">
                        <label for="cp">
                            <p class="lg__descrip">Codigo postal*</p>
                            <% if (locals.errors && errors.cp) {%> 
                                <p class="errorMsg"><%= errors.cp.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="number" id="cp" name="cp" value="<%= userProfile.cp %>" >
                            <span class="feedback"></span>
                        </label>
                    </div>
                    <div class="registro__cont">
                        <label for="city">
                            <p class="lg__descrip">Localidad*</p>
                            <% if (locals.errors && errors.city) {%> 
                                <p class="errorMsg"><%= errors.city.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="text" id="city" name="city" value="<%= userProfile.city %>" >
                            <span class="feedback"></span>
                        </label>
                    </div>
                    


                    <h3 class="rg__subtitulo">Datos de la cuenta</h3>
                    <div class="registro__cont">
                        <label for="email">
                            <p class="lg__descrip">E-mail*</p>
                            <% if (locals.errors && errors.email) {%> 
                                <p class="errorMsg"><%= errors.email.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="email" id="email" name="email" value="<%= userProfile.email %>" >
                            <span class="feedback"></span>
                        </label>
                    </div>
                    
                    <div class="registro__cont">
                        <label for="password">
                            <p class="lg__descrip">Contraseña*</p>
                            <% if (locals.errors && errors.password) {%> 
                                <p class="errorMsg"><%= errors.password.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="password" id="password" name="password" placeholder="Nueva Contraseña" >
                            <span class="feedback"></span>
                        </label>

                    <div class="registro__cont">
                        <label for="passwordRepeat">
                            <p class="lg__descrip">Confirmar contraseña*</p>
                            <input type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Nueva Contraseña"  class="form__fields" >
                            <span class="feedback"></span>
                        </label>
                    </div>
                    
                </article>

                <button class="form-lg__btn" type="submit">Editar</button>
                
            </form>

        </section>

    </main>
    
    
    <%- include('../partials/footer') %> 
    
</body>
</html>