<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title : 'DFT - Admin Add Product'}) %> 
<body>

    <%- include('../partials/header') %> 

    <main class="main-general">

        <section class="cont-admin">

            <%- include('../components/adminBar') %> 

            <section class="admin-forms">
                <h2 class="form-title">Agregar producto</h2>
                <hr class="forms__div">
                <article class="campos__column">
              
                    <div class="column__forms">
 
                        <form action="/products/admin" method="POST" enctype="multipart/form-data"class="forms__campos">
                            <label for="name">
                                <p class="lg__descrip">Nombre del producto*</p>                        
                                <% if (locals.errors && errors.name) {%> 
                                    <p class="errorMsg"><%= errors.name.msg %></p>
                                <%}  %> 
                                <input class="form__fields <%= locals.errors && errors.name ? 'invalid' : '' %>" type="text" id="name" name="name" value="<%= locals.oldData ? oldData.name : null %>" placeholder="Nombre del producto">
                            </label>
                            <label for="category">
                                <p class="lg__descrip">Categoría*</p> 
                                <% if (locals.errors && errors.category) {%> 
                                    <p class="errorMsg"><%= errors.category.msg %></p>
                                <%}  %>                        
                                <select class="form__fields <%= locals.errors && errors.category ? 'invalid' : '' %>" id="category" name="category">
                                    <option value="" selected>Seleccioná</option>
                                    <% let categorias = ['notebooks', 'periféricos', 'almacenamiento', 'componentes', 'accesorios', 'consolas', 'sillas',] %> 
                                    <% categorias.forEach(category => { %> 
                                    <option value="<%= category %>" <%= locals.oldData && (category === oldData.category) ? 'selected' : '' %>  ><%= category %> </option>
                                    <% }) %> 
                                    
                            </select>
                        </label>
                            <label for="price">
                                <p class="lg__descrip">Precio*</p>
                                <% if (locals.errors && errors.price) {%> 
                                    <p class="errorMsg"><%= errors.price.msg %></p>
                                <%}  %>                             
                                <input class="form__fields  <%= locals.errors && errors.price ? 'invalid' : '' %>" type="number" id="price" name="price" value="<%= locals.oldData ? oldData.price : null %>" placeholder="$00000"  >
                            </label>
                            <label for="stock">
                                <p class="lg__descrip">Stock*</p>
                                <% if (locals.errors && errors.stock) {%> 
                                    <p class="errorMsg"><%= errors.stock.msg %></p>
                                <%}  %>                            
                                <input class="form__fields <%= locals.errors && errors.stock ? 'invalid' : '' %>" type="number" id="stock" value="<%= locals.oldData ? oldData.stock : null %>"name="stock" placeholder="#"  >
                            </label>
                            <label for="image">
                                <p class="lg__descrip">Fotos de producto*</p>
                                <% if (locals.errors && errors.image) {%> 
                                    <p class="errorMsg"><%= errors.image.msg %></p>
                                <%}  %> 
                                <input class="form__fields <%= locals.errors && errors.image ? 'invalid' : '' %>" type="file" name="image" id="image" accept=".jpg, .png, .webp" multiple>
                            </label>
                            <label for="thumb">
                                <p class="lg__descrip">Thumbnail*</p>
                                <% if (locals.errors && errors.thumb) {%> 
                                    <p class="errorMsg"><%= errors.thumb.msg %></p>
                                <%}  %> 
                                <input class="form__fields <%= locals.errors && errors.thumb ? 'invalid' : '' %>" type="file" name="thumb" id="thumb" accept=".jpg, .png, .webp">
                            </label>
          
                    </div>
                    <div class="column__forms">

                            <label for="description">
                                <p class="lg__descrip">Descripción*</p>
                                <% if (locals.errors && errors.description) {%> 
                                    <p class="errorMsg"><%= errors.description.msg %></p>
                                <%}  %>                            
                                <textarea class="form__fields  <%= locals.errors && errors.description ? 'invalid' : '' %>" id="description" name="description" ><%= locals.oldData ? oldData.description : null %></textarea>
                            </label>
                            <label for="specs">
                                <p class="lg__descrip">Especificaciones*</p>                        
                                <textarea class="form__fields" id="specs" name="specs"><%= locals.oldData ? oldData.specs : null %></textarea>
                            </label>

                            <button aria-label="Agregar producto" class="add__btn" type="submit">Agregar</button>
                        
                        </form>
                    </div>
                </article>
            </section>


        </section>


    </main>
    
    <%- include('../partials/footer') %> 
</body>
</html>