<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: productRequested.name})%> 
<body>
    
    <%- include('../partials/header')%> 

    <main class="main-general">
        
        <div class="article-breadCrum">                    
            <a class="breadCrum" href="/">Home/<a class="breadCrum" href=""><%= productRequested.category %>/<a class="breadCrum" href=""><%= productRequested.name %> </a>                      
        </div>

        <section class="cont-det">
            
            <section class="cont-det-producto-top">            
            
                <!-- Contenedor de imagen del producto -->
                <section class="cont-img-prod">
                    
                    <div class="prod__img">
                        <img class="img__ppal" src="/img/products/<%= productRequested.image[0] %>" alt="Imagen <%= productRequested.name %> ">
                    </div>
                    
                    <!-- Imagenes alternativas -->
                    <div class="prod__alt">
                        <div class="alt__img">
                            <img class="img__fotito" src="/img/products/<%= productRequested.image[0] %>" alt="Imagen alternativa 1">
                        </div>
                        <div class="alt__img">
                            <img class="img__fotito" src="/img/products/<%= productRequested.image[1] !== "" ? productRequested.image[1] : "default.webp" %>" alt="Imagen alternativa 2">
                        </div>
                            <div class="alt__img">
                            <img class="img__fotito" src="/img/products/<%= productRequested.image[2]  !== "" ? productRequested.image[2] : "default.webp" %>" alt="Imagen alternativa 3">
                        </div>
                    </div>
                </section>
    
    
                <!-- contenedor de Descripcion del producto -->
                <section class="cont_des_prod">
                    <h1 class="titulo__prod"><%= productRequested.name %> </h1>
                    <hr class="titulo__divis"></hr>
                    
                    <div class="desc_prod">
                        
                            <!-- precio -->
                        <div class="precio_prod">

                         <p>$<%= productRequested.price %> </p>

                        </div>                         
                        
                        <!-- Boton compra -->

                        <%- include('../components/buyButton') %> 
                        
                       
                    </div>                   
                      
                    <!-- Barra icnonos -->
                    <div class="iconos_prod">
                        <div class="iconos_prod_opinions">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>

                            <div class="iconos_prod_opinions_text">
                                <p>(50 opiniones)</p>
                            </div>
                        </div>
                        
                        <div>
                            <button type="button" class="heart_b" aria-label= "favorites"><i class="far fa-heart"></i></button>  
                            <button type="button" class="share_b" aria-label= "add to cart"><i class="fas fa-cart-plus"></i></button>  
                            <button type="button" class="share_b" aria-label= "share"><i class="fa fa-share-alt"></i></button>
                        </div>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-wallet'></i>
                        <p class="info_venta_prod-text">12 cuotas sin interés de $<%= Math.round((productRequested.price / 12) * 100 ) / 100 %>  </p>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-store'></i>
                        <p class="info_venta_prod-text">Retiro gratis por sucursal</p>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-truck'></i>
                        <p class="info_venta_prod-text">Envios a todo el pais</p>
                    </div>

                    <hr class="divisor_info_ventas"></hr>

                    <div class="info_venta_prod">
                        <i class='fas fa-user-shield'></i>
                        <p class="info_venta_prod-text">Garantía (1 año)</p>
                    </div>

                    <div class="agregar_carrito_btn_div">
                        <button type="button" class="agregar_carrito" aria-label= "add to cart"><a href="/cart"></a>Agregar al Carrito</button>
                    </div>
                                
                </section>         
                
            </section>

            <section class="cont-det-producto-bot">
                <!-- Botones de Descripcion de producto -->
                <div class="desc_prod_btns">
                    <button type="button" class="desc_prod-btn" aria-label= "description"><a href="/cart"></a>Descripción</button>

                    <button type="button" class="desc_prod-btn"><a href="/cart" aria-label= "specs"></a>Especificaciones</button>
                </div>

                <hr class="titulo__divis"></hr>

                <!-- Descripcion producto -->
                <div class="desc_prod_tex">
                    <p class="desc_prod_tex_1"><%= productRequested.description %> </p>
                </div>
        
                <div class="desc_prod_tex">
                    <p class="desc_prod_tex_2">Características técnicas de   <%= productRequested.name  %> </p>
                    <p class="desc_prod_tex_1"> <%= productRequested.specs %> </p>

                </div>
            </section>
        </section>
       
        <!-- CARRUSEL DESTACADOS 2 -->
        <section class="main-home__cont-prod">

            <h2 class="cont-prod__categorias">Productos similares</h2>
        
                <nav class="cont-prod__articulos">

                    <% productsDB.forEach((product, index) => { %>

                        <% if (index < 4) { %>
    
                            <%- include('../components/carruselProduct', {product : product}) %>
    
                        <% } %>
    
                    <% }) %> 
        
                </nav>
        
        </section>

    </main>

    <%- include('../partials/footer') %> 
            
</body>
</html>