<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title : 'DFT - Registrate'}) %> 
<body>

    <%- include('../partials/header') %> 
        

    <main class="main-general">

        <section class="cont-form-rg">

            <form class="form-registro" action="/users/edit/<%= userProfile.id %>/password?_method=PUT" method="POST">
            
                <h2 class="titulo-login">Editar contraseña <%= userProfile.firstName %></h2>

                <article class="cont-rg">                    
                    <div class="registro__cont">
                        <label for="password">
                            <p class="lg__descrip">Contraseña*</p>
                            <p class="jsError" id="passwordError"></p> 
                            <% if (locals.errors && errors.password) {%> 
                                <p class="errorMsg"><%= errors.password.msg %></p>
                            <%}  %> 
                            <input class="form__fields" type="password" id="password" name="password" placeholder="Nueva Contraseña" >

                        </label>

                    <div class="registro__cont">
                        <label for="passwordRepeat">
                            <p class="lg__descrip">Confirmar contraseña*</p>
                            <p class="jsError" id="passwordRepeatError"></p>  
                            <% if (locals.errors && errors.passwordRepeat) {%> 
                                <p class="errorMsg"><%= errors.passwordRepeat.msg %></p>
                            <%}  %> 
                            <input type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Nueva Contraseña"  class="form__fields" >

                        </label>
                    </div>
                </article>

                    <button class="main-btns" type="submit">Editar</button>
                
                </form>
    
            </section>
    
        </main>
        
        
        <%- include('../partials/footer') %> 
        
    </body>
    </html>